In [ ]:
import mysql.connector
con = mysql.connector.connect(
    host="localhost", user="root", password="password", database="Employee")

In [ ]:
#deleting 
def Remove_Employee():
    Id = input("Enter Employee_Id : ")
    if(check_Employee(Id) == False):
        print("doesnt exist")
        menu()
      else:
        sql = 'delete from Employee_Id where id=%s'
        data = (Id,)
        c.execute(sql, data)
        con.commit()
        print("Employee has been deleted")
        menu()

In [ ]:
#inserting values
class Employee:
        count=0
        def __init__(Emp_Id,Emp_Name,Age):
            self.Emp_Id=Emp_Id
            self.Emp_Name=Emp_Name
            self.Age=Age
            Employee.count+=1
e1=Employee(2, "Sneha", 40)
e2=Employee(3, "Prakash", 36)
e3=Employee(4, "Swaroop", 55)
e4=Employee(5, "Kala", 60)
e4.displayCount()
print("Details of all employee:")
e1.displayDetails()
e2.displayDetails()
e3.displayDetails()
e4.displayDetails()

In [ ]:
#updating
Employee = {'Emp_Id':2,'Emp_Name'='Sneha','age':40}
Employee['Emp_Name'] = 'Snehaa'
Employee
{'Emp_Name': 20000, 'Emp_Id': 2, 'Age': 40}